@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#rood,
.app {
    /* height: 100%; */
    /* width: 100%; */
    /* @apply bg-gray-20 text-gray-500;     */
    color: white;
    font-size: 14px; 
    line-height: 24px;
}

/* Задання розмірів шрифту для різних розмірів екрану */
@media (min-width: 768px) and (max-width: 1279px) {
  body,
  html,
  #rood,
  .app {
    font-size: 16px; 
    line-height: 24px;
  }
}

@media (min-width: 1280px) {
  body,
  html,
  #rood,
  .app {
    font-size: 18px; 
    line-height: 24px;    
  }
}

